<header>
  <div class="bg"></div>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
      <div class="navbar-brand">ngQuiz</div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/quiz">Start <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="authService.isAuthenticated()">
            <a class="nav-link" routerLink="/quiz/list">Question List</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <ng-template [ngIf]="!authService.isAuthenticated()">
            <li class="nav-item"><a class="nav-link" routerLink="/signup">Register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/signin">Login</a></li>
          </ng-template>
          <li class="nav-item"
              *ngIf="authService.isAuthenticated()">
            <a class="nav-link"
               (click)="onLogout()"
               routerLink="/signout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
