<div class="row">
  <div class="questions-list col-sm-12 col-lg-6">
    <div class="row">
      <div class="col-12">
        <div class="slanted">
          <div class="slanted-top">
            <h3>{{ 'quiz.questionList.title' | translate}}</h3>
          </div>
        </div>
        <ng-container *ngIf="questions">
          <ul class="list-group list" [sortablejs]="questions" [sortablejsOptions]="questionOptions">
            <div *ngFor="let question of questions"
                 class="list-group-item"
                 [routerLink]="[question.id]"
                 routerLinkActive="active">
              <i class="drag-handle fui-list"></i>
              <span><strong>{{ question.order}}.</strong></span>
              <span>{{ question.question }}</span>
              <i class="remove-handle fui-trash float-right" (click)="onDeleteAnswer(question.id)"></i>
            </div>
          </ul>
        </ng-container>
        <ng-container *ngIf="!questions">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <h5>{{ 'quiz.questionList.loading' | translate }}</h5>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="questions && questions.length < 1">
          <ul class="list-group">
            <li class="list-group-item text-center">
              <h5>{{ 'quiz.questionList.noQuestions' | translate }}</h5>
            </li>
          </ul>
        </ng-container>
          <ul class="list-group">
            <li class="list-group-item add-handle">
              <div class="col-12" (click)="onNewQuestion()">
                <i class="fui-plus"></i>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <router-outlet></router-outlet>
  </div>
</div>
