@import '../../../../variables.styl';

.questions-list {
  overflow: visible;

  .list-group {
    background: #fff;

    &.list {
      padding-top: 25px;
    }

    .list-group-item {
      border-radius: $border-radius;
      border: none;
      outline: none;
      cursor: pointer;

      * {
        display: inline-block;
      }

      br {
        display: none;
      }

      img {
        max-width: 100%;
        max-height: 50px;
        height: auto;
        display: inline-block;
        margin: 2px 5px;
      }

      &:hover {
        .drag-handle, .remove-handle {
          display: inline-block;
          opacity: 1;
          position: relative;
          z-index: 10;
        }
      }
    }
  }

  .drag-handle {
    opacity: 0;
    cursor: grab;
  }

  .remove-handle {
    opacity: 0;
    cursor: pointer;
  }
}

