<div class="row">
  <div class="questions-list col-sm-12 col-lg-6">
    <div class="row">
      <div class="col-12">
        <div class="slanted">
          <div class="slanted-top">
            <h3>Question List</h3>
          </div>
        </div>
        <ul class="list-group list" [sortablejs]="questions" [sortablejsOptions]="questionOptions">
          <div *ngFor="let question of questions"
             class="list-group-item"
             [routerLink]="[question.id]"
             routerLinkActive="active">
            <i class="drag-handle fui-list"></i>
            <span><strong>{{ question.order / 10}}.</strong></span>
            <span>{{ question.question }}</span>
            <i class="remove-handle fui-trash float-right" (click)="onDeleteAnswer(question.id)"></i>
          </div>
        </ul>
        <ul class="list-group">
          <li class="list-group-item add-handle">
            <div class="col-12" (click)="onNewQuestion()">
              <i class="fui-plus"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <router-outlet></router-outlet>
  </div>
</div>
