@import '../../../variables.styl';
$slanted-height = 50px;

.slanted {
  display: inline-block;
  width: auto;
  height: $slanted-height;

  .slanted-bg {
    transform: matrix3d(1.304444, 0.168889, 0, 0.001778,
    0.375, 1.4425, 0, 0.0015,
    0, 0, 1, 0,
    35, 30, 0, 1);
    transform-origin: 0 0;

    width: 150%;
    min-width: 200px;
    height: $slanted-height;
    background: $green;
    position: relative;
    top: 10px;
    left: -60px;
    display: inline-block;
    padding: 0 30px;
    z-index: 10;
  }

  .slanted-container {
    position: relative;
    padding: 5px;
    color: #fff;
    z-index: 15;
  }
}
