<div class="quiz-card col-md-6 mx-auto">
  <app-slanted><h3>{{ 'quiz.end.title' | translate }}</h3></app-slanted>
  <div class="card">
    <div class="card-header text-center text-white"
         [ngStyle]="{'background': quiz.imagePath && quiz.imagePath.length > 0 ? 'url(' + quiz.imagePath + ')' : 'linear-gradient(to top, #30cfd0 0%, #330867 100%)'}">
      <h2 class="highlighted">{{ headline | translate }}</h2>
    </div>
    <div class="card-body">
      <p class="card-text" [innerHTML]="'quiz.end.scoreText' | translate:{points: points, totalPoints: totalPoints}"></p>
      <p class="card-text" [innerHTML]="'quiz.end.scorePct' | translate:{scorePct: scorePct}"></p>
    </div>
    <div class="card-footer text-center">
      <button [routerLink]="'/' + i18nRouting.main + '/' + i18nRouting.quiz.start"
              class="btn btn-success">{{ 'quiz.end.toolbar.tryAgain' | translate }}</button>
    </div>
  </div>
</div>
