.card {
  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-size: cover !important;

    .highlighted {
      background: rgba(0,0,0,0.15);
      padding: 5px;
    }
  }
}
