<div class="col-md-6 mx-auto">
  <app-slanted><h3>{{ 'auth.signup.title' | translate}}</h3></app-slanted>
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">{{ 'auth.signup.email' | translate}}</label>
          <input type="text" id="email" name="email" class="form-control" ngModel>
        </div>
        <div class="form-group">
          <label for="password">{{ 'auth.signup.password' | translate}}</label>
          <input type="password" id="password" name="password" class="form-control" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">{{ 'auth.signup.toolbar.register' | translate}}</button>
      </form>
    </div>
  </div>
</div>
