@import '../../../../variables.styl';
.card-header {
  h5 {
    margin-top: 20px;
  }
}

.card-body {
  .question-correct-answers {
    padding-top: 0;
    color: $gray;
  }

  .question-answer {
    height: 25px;
  }
}
