@import '../../../../variables.styl';

.card-header {
  h5 {
    margin-top: 20px;
  }
}

.card-body {
  .question-correct-answers {
    margin: 0 auto;
    padding-top: 0;
  }

  .question-answer {
    height: 25px;

    .answer {
      label, input {
        cursor: pointer;
      }

      .answer-label.correct {
        font-weight: 600;
        color: $green;
      }
    }
  }
}
