<form class="question-form" [formGroup]="questionForm">
  <div class="quiz-card col-md-6 mx-auto">
    <app-slanted><h3>{{ 'quiz.question.title' | translate:{id:question ? question.order : '?'} }}</h3></app-slanted>
    <div class="card">
      <div class="card-header text-center">
        <div class="question" [innerHTML]="question.question"></div>
        <small *ngIf="question.hint" class="question-hint text-muted">{{ 'quiz.question.hint' | translate:{hint:question.hint} }}</small>
      </div>
      <div class="card-body" *ngIf="question.answers">
        <div *ngIf="quizService.showNumCorrectAnswers" class="row">
          <small class="question-correct-answers text-muted text-center"> {{ getNumOfCorrectPlural(numOfCorrectAnswers()) | translate:{number: numOfCorrectAnswers()} }}</small>
        </div>
        <div class="question-answer"
             formArrayName="answers"
             *ngFor="let answer of questionForm.get('answers').controls; let i = index;"
             style="margin-top: 10px;">
          <div class="answer"
               [formGroupName]="i">
            <div class="flex-1" style="min-width: 20px;">
              <ng-container *ngIf="question.checked && getAnswerStatus(answer) === 'correct'">
                <i class="correct fui-check"></i>
              </ng-container>
              <ng-container *ngIf="question.checked && getAnswerStatus(answer) === 'incorrect'">
                <i class="incorrect fui-cross"></i>
              </ng-container>
            </div>
            <div class="flex-1">
              <input type="checkbox"
                     class="form-control"
                     formControlName="answer"
                     name="answer-{{i}}"
                     id="answer-{{i}}">
            </div>
            <div class="flex-10 text-left">
                <label for="answer-{{i}}" class="card-text answer-label"
                     [ngClass]="question.checked && answer.value.isCorrect ? 'correct' : ''"
                     [innerHTML]="answer.value.text">
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-progress">
        <div class="progress">
          <div class="progress-bar" [ngStyle]="{width: quizService.getQuestionProgress() + '%'}"></div>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="question.checked" (click)="onCheck()" class="btn btn-success">{{ 'quiz.question.toolbar.check' | translate }}</button>
        <button [disabled]="!question.checked" (click)="onNext()" class="btn btn-primary float-right">{{ 'quiz.question.toolbar.next' | translate }}</button>
      </div>
    </div>
  </div>
</form>
