<form class="question-form" [formGroup]="questionForm" (ngSubmit)="onCheck()">
  <div class="quiz-card col-md-6 mx-auto">
    <app-slanted><h3>{{ 'quiz.question.title' | translate:{id:question ? question.order : '?'} }}</h3></app-slanted>
    <div class="card">
      <div class="card-header text-center">
        <h5>{{ question.question }}</h5>
        <small *ngIf="question.hint" class="question-hint text-muted">{{ 'quiz.question.hint' | translate:{hint:question.hint} }}</small>
      </div>
      <div class="card-body">
        <div class="row">
          <small class="question-correct-answers text-muted text-center"> {{ getNumOfCorrectPlural(numOfCorrectAnswers()) | translate:{number: numOfCorrectAnswers()} }}</small>
        </div>
        <div class="question-answer"
             formArrayName="answers"
             *ngFor="let answer of questionForm.get('answers').controls; let i = index;"
             style="margin-top: 10px;">
          <div class="row answer"
               [formGroupName]="i">
            <div class="col-1">
              <ng-container *ngIf="question.checked && getAnswerStatus(answer) === 'correct'">
                <i class="correct fui-check"></i>
              </ng-container>
              <ng-container *ngIf="question.checked && getAnswerStatus(answer) === 'incorrect'">
                <i class="incorrect fui-cross"></i>
              </ng-container>
            </div>
            <div class="col-1">
              <input type="checkbox"
                     class="form-control"
                     formControlName="answer"
                     name="answer-{{i}}"
                     id="answer-{{i}}">
            </div>
            <div class="col-10 text-left">
                <label for="answer-{{i}}"
                       class="answer-label"
                       [ngClass]="question.checked && answer.value.isCorrect ? 'correct' : ''">
                  {{ answer.value.text }}
                </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="question.checked" type="submit" class="btn btn-success">{{ 'quiz.question.toolbar.check' | translate }}</button>
        <button [disabled]="!question.checked" (click)="onNext()" class="btn btn-primary float-right">{{ 'quiz.question.toolbar.next' | translate }}</button>
      </div>
    </div>
  </div>
</form>
