@import '../../../../../../variables.styl';

.question-form {
  padding: 30px;
  background: #fff;

  .question-toolbar {
    button {
      border: none;
      background: none;

      i {
        font-size: 1.3em;
      }

      .fui-check {
        color: $green;
      }

      .fui-cross {
        color: $red;
      }
    }
  }
}
