@import '../../../../../../variables.styl';

.question-form {
  padding: 30px 30px 15px 30px;
  background: #fff;

  .question-toolbar {
    margin-top: 20px;
    color: #fff;

    button {
      border: none;

      &.question-save {
        background: $green;
      }
      &.question-cancel {
        background: $gray;
      }
    }
  }

  i, label {
    height: 38px;
    line-height: 38px;
    font-size: 16px;
  }

  .add-handle {
    margin-left: 10px;
  }

  .question-section {
    label {
      height: 20px;
      line-height: 20px;
      margin: 0 0 0 15px;
    }
  }
}
