<app-slanted>
    <h3 *ngIf="!editMode">{{ 'quiz.questionList.item.title.new' | translate }}</h3>
    <h3 *ngIf="editMode">{{ 'quiz.questionList.item.title.edit' | translate }}</h3>
</app-slanted>
<form class="question-form" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="row" style="display: none;">
    <div class="col-12">
      <div class="form-group">
        <label for="Id">{{ 'quiz.questionList.item.id' | translate }}</label>
        <input type="number"
               id="id"
               formControlName="id"
               class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="question">{{ 'quiz.questionList.item.question' | translate }}</label>
        <textarea type="text"
          id="question"
          formControlName="question"
          class="form-control"
          rows="5"
          #questionRef></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="hint">{{ 'quiz.questionList.item.hint' | translate }}</label>
        <input type="text"
          id="hint"
          formControlName="hint"
          class="form-control"
          #hintRef>
      </div>
    </div>
  </div>
  <div class="row" style="display: none;">
    <div class="col-12">
      <div class="form-group">
        <label for="order">{{ 'quiz.questionList.item.order' | translate }}</label>
        <input type="number"
          id="order"
          formControlName="order"
          class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" formArrayName="answers">
      <h5>{{ 'quiz.questionList.item.answers.title' | translate }} <i class="fui-plus add-handle" (click)="onAddAnswer()"></i></h5>
      <div class="row"
        *ngFor="let answerCtrl of questionForm.get('answers')['controls']; let i = index"
        [formGroupName]="i"
        style="margin-top: 10px;">
        <div class="col-8">
          <input type="text"
            class="form-control"
            formControlName="text">
        </div>
        <div class="col-4">
          <input type="checkbox"
            class="form-control"
            formControlName="isCorrect"
          ><label>{{ 'quiz.questionList.item.answers.isCorrect' | translate }}</label>
          <i class="remove-handle fui-cross"
             (click)="onDeleteAnswer(i)"
             style="margin-left: 5px"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row question-toolbar">
    <div class="col-6 text-center">
      <button class="btn btn-success" type="submit" [disabled]="!questionForm.valid">{{ 'quiz.questionList.item.toolbar.save' | translate }}</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-default" (click)="onCancel()">{{ 'quiz.questionList.item.toolbar.cancel' | translate }}</button>
    </div>
  </div>
</form>
