<div class="slanted">
  <div class="slanted-top">
    <h3>{{ editMode ? 'Edit' : 'New' }} Question</h3>
  </div>
</div>
<form class="question-form" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="row" style="display: none;">
    <div class="col-12">
      <div class="form-group">
        <label for="Id">Id</label>
        <input type="number"
               id="id"
               formControlName="id"
               class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="question">Question</label>
        <textarea type="text"
          id="question"
          formControlName="question"
          class="form-control"
          rows="1"
          #questionRef></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="hint">Hint</label>
        <input type="text"
          id="hint"
          formControlName="hint"
          class="form-control"
          #hintRef>
      </div>
    </div>
  </div>
  <div class="row" style="display: none;">
    <div class="col-12">
      <div class="form-group">
        <label for="order">Order</label>
        <input type="number"
          id="order"
          formControlName="order"
          class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" formArrayName="answers">
      <h5>Answers <i class="fui-plus add-handle" (click)="onAddAnswer()"></i></h5>
      <div class="row"
        *ngFor="let answerCtrl of questionForm.get('answers').controls; let i = index"
        [formGroupName]="i"
        style="margin-top: 10px;">
        <div class="col-8">
          <input type="text"
            class="form-control"
            formControlName="text"
          >
        </div>
        <div class="col-3">
          <input type="checkbox"
            class="form-control"
            formControlName="isCorrect"
          ><label>Is correct?</label>
        </div>
        <div class="col-1">
          <i class="remove-handle fui-cross"
             (click)="onDeleteAnswer(i)"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row question-toolbar">
    <div class="col-6 text-center">
      <button class="btn btn-success" type="submit" [disabled]="!questionForm.valid">Save</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-default" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
