@import 'variables.styl';
@import 'assets/fonts/fonts.styl';

html {
  height: 100%;

  body {
    display: block;
    height: 100%;
    color: $page-color;
    background: $page-bg-color;

    input, textarea, button,
    .card, .card-header, .card-footer {
      border: none;
      border: $input-style !important;
      border-radius: $input-radius !important;
    }

    input[type=checkbox], input[type=radio] {
      display: inline-block;
      width: auto;
      margin-right: 10px;
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
      display: inline-block;
    }

    .active {
      background: $header-bg;
    }

    [disabled] {
      cursor: not-allowed !important;
    }

    .fui-check, .fui-plus {
      color: $green;
    }

    .fui-cross, .fui-trash {
      color: $red;
    }

    .add-handle {
      color: $green;
      background: #fff
      text-align: center;
      border: none;
      cursor: pointer;
    }

    .btn-success {
      background: $green;

      &[disabled] {
        background:
      }
    }

    .page {
      display: flex;
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: stretch;
    }
  }
}

.slanted {
  display: block;
  position: relative;
  left: -15px;
  bottom: -15px;
  padding: 20px 30px 0; /* border space */
  width: $h3-width;
  overflow: hidden;
  z-index: 10;

  h3 {
    width: $h3-width;
    height: 45px;
    margin: 0;
    color: #fff;
    background: $green;
    z-index: 10;
  }
}
.slanted:before,
.slanted:after,
.slanted-top:before {
  position: absolute;
  top: 20px;
  left: 0;
  border: solid transparent;
  border-top-color: $green;
  border-width: $h3-width 0 0 30px; /* left border (top as max box height) */
  width: 0;
  height: 0;
  content: "\a0";
}
.slanted:after {
  right: 0;
  left: auto;
  border-width: $h3-width 30px 0 0; /* right border (top as max box height) */
}
.slanted-top:before {
  position: absolute;
  top: 10px;
  border-color: transparent;
  border-left-color: $green;
  border-width: 10px 0 0 $h3-width; /* top border width+padding (left as box length) */
}
