@import 'variables.styl';
@import 'assets/fonts/fonts.styl';

html {
  height: 100%;

  body {
    display: block;
    height: 100%;
    color: $page-color;
    background: $page-bg-color;

    input, textarea, button,
    .card, .card-header, .card-footer {
      border: none;
      border: $input-style !important;
      border-radius: $input-radius !important;
    }

    input[type=checkbox], input[type=radio] {
      display: inline-block;
      width: auto;
      margin-right: 10px;
    }

    input[type=checkbox] + label,
    input[type=radio] + label {
      display: inline-block;
    }

    .active {
      background: $header-bg;
    }

    [disabled] {
      cursor: not-allowed !important;
    }

    .fui-check, .fui-plus {
      color: $green;
    }

    .fui-cross, .fui-trash {
      color: $red;
    }

    .add-handle {
      color: $green;
      background: #fff
      text-align: center;
      border: none;
      cursor: pointer;
    }

    .btn-success {
      background: $green;

      &[disabled] {
        background: $green-disabled;
      }
    }

    .btn-primary {
      background: $blue;

      &[disabled] {
        background: $blue-disabled;
      }
    }

    .page {
      display: flex;
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: stretch;
    }

    .quiz-card {
      position: relative;
      top: -25px;
      margin-bottom: 25px;
    }

    .col-xs-1 {
      margin-right: 10px;
    }
  }
}
