/*
  COLORS
 */
$green = #8DC26F;
$red = red;
$gray = #dedede;

/*
  GENERAL
 */
$page-color = #333;
$page-bg-color = #EAEAEA;
$border-radius = 0;
$input-radius = 0;
$input-style = 1px solid $gray;

/*
  HEADER
 */
$header-height = 50px;

/*
  FOOTER
 */
$footer-height = 50px;

/*
  MAIN
 */
$main-max-height = calc(100% - 100px);
$h3-width = 245px;
