/*
  COLORS
 */
$green = #8DC26F;
$green-disabled = #cbe3be;
$red = #e74c3c;
$gray = #dedede;
$blue = #396afc;
$blue-disabled = #a2bdff;

/*
  GENERAL
 */
$page-color = #333;
$page-bg-color = #EAEAEA;
$border-radius = 0;
$input-radius = 0;
$input-style = 1px solid $gray;

/*
  HEADER
 */
$header-height = 30px;
$header-bg = linear-gradient(to right, #396afc, #2948ff);
$header-color = #fff;

/*
  FOOTER
 */
$footer-height = 50px;

/*
  MAIN
 */
$main-max-height = calc(100% - 100px);
$h3-width = 245px;
$question-img-max-height = 200px;
